body:has(dialog[open]) {
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

hr {
  margin-block: 3rem;
}

.icon {
  mask: no-repeat center;
  display: block;
}

.required-field::after {
  padding-left: 5px;
  color: #f85149;
  content: "*";
}

.loading-text,
.uploading {
  user-select: none;
  cursor: not-allowed;
}

.loading-text::after,
.uploading::after {
  content: '';
  animation: loading 1s linear infinite;
}

@keyframes loading {
  33% {
    content: '.';
  }

  66% {
    content: '..';
  }

  99% {
    content: '...';
  }
}

@keyframes growWidth {
  from {
    max-width: 0;
  }

  to {
    max-width: 300px;
  }
}

.filter-tag {
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
}

.filter-tag.active {
  margin-left: 12px;
  animation: growWidth 1s ease-in-out forwards;
}

.aside-cart {
  top: 0;
  height: 100vh;
  max-height: 100vh;
  max-width: 500px;
  border: none;
  padding: 1rem;
  margin: 0;
  margin-left: auto;
}

.aside-cart[open] {
  transform-origin: right;
  animation: collapse 0.25s ease-in forwards;
}

@keyframes collapse {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.cart-notify-container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(calc(-100% - 0.5rem), -50%);
  padding-right: 0.6rem;
  overflow: hidden;
}

.cart-notify {
  position: relative;
  padding: 0 0.5rem;
  white-space: nowrap;
  pointer-events: none;
  border-radius: 0.25rem 0 0 0.25rem;
  animation: slide-in 0.5s forwards, hidden 3s forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes hidden {
  0% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}

.cart-notify::after {
  content: "";
  width: 0.3rem;
  height: 100%;
  position: absolute;
  right: -0.6rem;
  background-color: inherit;
  border: inherit;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.order-result {
  inset: 0;
  background-color: #0005;
  backdrop-filter: blur(1px);
}

.order-result h3 {
  letter-spacing: 5px;
}

.order-result .result-modal {
  background-color: white;
  border-radius: 1rem;
  max-width: 80%;
  min-width: 20rem;
  padding: 1.75rem;
}

.toast {
  animation: fade-in 0.3s ease-in-out;
}


.why-us .content {
  width: 67.5rem;
}

.why-us .reason {
  padding: 1.25rem 2rem;
  flex: 1;
}

.why-us .reason h5 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.why-us .reason .icon {
  width: 5rem;
  height: 5rem;
}

.why-us .reason p {
  max-width: 300px;
}

@media (max-width: 67.5rem) {
  .why-us .content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .why-us .content {
    flex-direction: column;
  }

  .why-us .reason {
    padding: 0.5rem 2rem;
    gap: 0.75rem;
  }
}